* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    margin: auto auto;
    background-color: #3211eb;
    color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

#search-container {
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

#search-button {
  padding: 10px 20px;
  border: 0;
  background-color: #3211eb;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

#search-container {
    text-align: center;
    margin-top: 20px;
}
.forecast-banner {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.forcast-wrapper {
    max-width: 100px; 
    margin: 0 auto; 
  }

#forcast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; /* Adjust the gap between cards */
  }

 

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #0ae1e9;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }